.bigblackpage{
background-color: black;
text-align: center;
}

h1{
color: red;
text-align: center;
font-size: 4rem;
}
.text{
color: aliceblue;
text-align: center;
font-size: 2rem;
}
p{
 color: aliceblue;
 text-align: center;
 font-size: 2rem;
}



